{
  "lines": 100,
  "branches": 100,
  "functions": 100,
  "statements": 100,
  "include": [
    "src/"
  ],
  "exclude": [
    "src/*test*", "src/index.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ]
}
