doctype html
html
  head
    meta(charset='utf-8')
    title Control Components
    link(
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css'
    )
  body
    #app
    script(src='main.js')
