doctype html
html
  head
    meta(charset='utf-8')
    title Demos
    link(
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css'
    )
  body
    .container
      .row
        .col
          ul(class='list-unstyled')
            li
              a(href='first/') First Demo
